.search-result-box--container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 15px 0px;

  .search-result-box__image {
    border: 1px solid;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    color: transparent;
  }
  .search-result-box__image::after {
    content: '';
    display: block;
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-result-box__name {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px 2px;
  }
  .search-result-box__discount-price {
    font-size: 18px;
    font-weight: 700;
    margin-left: 2px;
  }
  .search-result-box__price {
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
    text-decoration: line-through;
  }
}
