@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline-style: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #ffffff;
  display: none;
}

.wrap-webDiv {
  display: none;
}

@media all and (min-width: 450px) {
  body {
    position: relative;
  }
  .wrap {
    display: flex;
    justify-content: center;
  }

  .wrap-content {
    overflow: scroll;
    width: 450px;
    height: 100vh;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
  }
}

@media all and (min-width: 900px) {
  .wrap-webDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    font-size: 2rem;
  }

  .wrap-webDiv__text {
    margin-bottom: 30px;
  }
  .wrap-webDiv__appName {
    font-size: 2em;
    color: #34cdab;
    font-family: 'Cute Font';
  }
  .wrap-webDiv__qrCode {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./qr.png');
    height: 150px;
    width: 150px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 메인 : #34CDAB
서브: #EA910B */
:root {
  --mdc-theme-primary: #34cdab;
  --mdc-theme-secondary: #fff;
  --mdc-theme-error: #ea910b;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-primary: rgba(255, 255, 255, 1);
  --mdc-theme-on-secondary: rgba(0, 0, 0, 0.87);
  --mdc-theme-on-surface: rgba(0, 0, 0, 0.87);
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
