.dst--container {
  padding: 1.5rem;
  margin-top: 1rem;
  background-color: white;
  .dst__header {
    font-size: 1.25rem;
  }
  .dst__input {
    padding-top: 1rem;

    hr {
      margin: 0.5rem;
      border: solid 1px rgb(181, 179, 179);
    }

    .dst__input__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
    }
  }

  .empty::after {
    content: '*';
    color: red;
  }
}
