.order-item--container {
  padding: 1.5rem;
  padding-top: 3rem;
  background-color: white;
  .order-item__info {
    padding-top: 0.5rem;
    display: flex;
    .order-item__info__image {
      width: 80px;
      height: 80px;
      background-color: black;
    }
    .order-item__info__wrap {
      padding: 0 1rem;
      line-height: 1.25rem;
    }
    .wrap__price {
      display: flex;
      align-items: center;
      div {
        padding: 0.2rem;
      }
      .price {
        font-weight: bold;
      }
      .amount {
        color: #696161;
      }
    }
    .wrap {
      padding: 0.15rem;
    }
    .wrap__option {
      color: #696161;
    }
  }
}
