.content-header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  font-weight: 400;
  height: 3rem;
  background-color: white;
  z-index: 9999;
  svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}
