.complete--container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  .complete-header {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    background-color: white;
  }
  .complete__confirm {
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .confirm__icon {
      font-size: 4rem;
      color: #34cdab;
      line-height: 1rem;
      padding: 1rem;
    }
    .confirm__img {
      width: 90px;
      height: 90px;
      box-sizing: border-box;
      margin-bottom: 1rem;
    }
    .confirm__msg {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgb(181, 179, 179);
      padding: 1rem;
      box-sizing: border-box;
    }

    .confirm__price {
      padding: 1rem;
      box-sizing: border-box;
      width: 100%;
      .confirm__price__label {
        color: rgb(181, 179, 179);
        font-size: 0.75rem;
      }
      .confirm__price__value {
        font-weight: 700;
      }
    }
    .confirm__detail {
      box-sizing: border-box;
      display: flex;
      width: 90%;
      height: 5rem;
      color: rgb(9, 9, 9);
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      border: 1px solid #bbb;
    }
  }
  .wrap-btn {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .home-btn {
      box-sizing: border-box;
      background-color: #34cdab;
      margin: 1rem;
      height: 46px;
      color: white;
      text-align: center;
      line-height: 46px;
      font-weight: 700;
      border-radius: 0.5rem;
    }
  }
}
