.product-detail--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .product-thumbnail__image {
    background-color: black;
    // border: 1px solid;
    width: 90%;
    margin: 15px auto;
  }
  .product-thumbnail__image::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .product-detail__name {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 4px 2px;
    width: 90%;
  }
  .product-detail__discount-price {
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    width: 90%;
  }
  .product-detail__price {
    font-size: 20px;
    font-weight: 400;
    margin-left: 3px;
    color: gray;
    width: 90%;
    text-decoration: line-through;
  }
  .product-detail__allPrice {
    width: 90%;

    .allPrice__sale {
      color: #f05945;
      font-weight: bold;
    }
  }
  .product-detail__detailText {
    display: flex;
    font-size: 14px;
    width: 90%;
    color: gray;
    .detailText__key {
      width: 120px;
      color: black;
    }
    .detailText__column {
      margin: 10px 0px;
    }
  }

  .product-detail__image {
    width: 90%;
  }
}
