.item-list--container {
  width: 100%;
  display: flex;
  overflow: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  .item-list__item {
    padding: 0rem 0.5rem;
    img {
      width: 120px;
      height: 120px;
    }
    .item-list__item__name {
      word-break: keep-all;
      font-weight: 700;
    }
  }
}
