.payment--container {
  margin-top: 0.75rem;
  padding-bottom: 50px;
  .payment__price {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
  }

  .payment__notice {
    font-size: 0.75rem;
    text-align: right;
    color: #34cdab;
    padding-right: 1rem;
  }

  .total {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(181, 179, 179);
    padding: 1rem;
    margin: 1rem;

    .payment__price__value {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  a {
    text-decoration-line: none;
  }

  .payment__btn {
    background-color: #34cdab;
    margin: 1rem;
    height: 46px;
    color: white;
    text-align: center;
    line-height: 46px;
    font-weight: 700;
    border-radius: 0.5rem;
  }
}
