.category__notice {
  font-family: 'Cute Font';
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #bbb;
}
